<!doctype html>
<!--

  OH HEY WHAT'S UP

  you might find this more interesting:
  https://github.com/peterschilling/sloth-draw

  just sayin'


                                    -- @schpet


  this page was rendered at {{ render_date }}
-->
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} - {% endif %}sloth-drawin' ((-)_(-))</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="draw! with sloths!">
    <meta name="viewport" content="user-scalable=no">
    <link href="static/style.css?v={{version}}" rel="stylesheet">
  </head>
  <body{% if bodyclass %} class="{{bodyclass}}"{% endif %}>
    {% block body %}{% endblock %}
    {% if not development %}
      {% include "analytics.html" %}
    {% else %}
      <script> _gaq = {}; _gaq.push = function(stuff){ console.log(stuff); } </script>
    {% endif %}
  </body>
</html>
