.sloth {
  background: url("img/slothpal.png");
  width: 50px;
  height: 38px;
  position: absolute;
}
#sloth-board {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
  cursor: url("img/forsloths.png") 75 -100, auto !important;
}
