html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: monospace;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
body, canvas, div {
  margin: 0;
  padding: 0;
}
a {
  border-bottom: 1px solid #222;
  text-decoration: none;
  color: #222;
}
.sloth {
  background: url("img/slothpal.png");
  width: 50px;
  height: 38px;
  position: absolute;
}

.sidebar {
  padding-top: 18px;
  width: 68px;
  background: #212121;
  color: white;
  float: left;
  height: 100%;
  border-right: 1px solid #111;
}
.sidebar .logo {
  margin: 10px;
  background: url('img/sprite.png');
  border-radius: 4px;
  display: block;
  width: 48px;
  height: 48px;
}
.sidebar .button {
  margin-left: 21px;
  margin-right: 20px;
  margin-bottom: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
}
.icon-share {
  height: 29px;
  background-position: 0 -50px;
}
.icon-share:hover {
  background-position: -34px -50px;
}
.icon-upload {
  background-position: 0 -85px;
  height: 21px;
}
.icon-erase {
  background-position: 0 -120px;
}
.icon-erase.active, .icon-erase:active  {
  background-position: -34px -120px;
}
.icon-draw {
  background-position: 0 -190px;
}
.icon-draw.active, .icon-draw:active {
  background-position: -34px -190px;
}
.icon-twitter {
  height: 24px;
  background-position: 0 -220px;
}
.icon-twitter:hover {
  background-position: -34px -220px;
}
.icon-facebook {
  background-position: 0 -250px;
}
.icon-facebook:hover {
  background-position: -34px -250px;
}
.icon-help {
  cursor: default;
  background-position: 0 -280px;
}
.icon-help:hover, .icon-help.active {
  background-position: -34px -280px;
}
.icon-email {
  background-position: 0 -310px;
}
.icon-email:hover {
  background-position: -34px -310px;
}

#canvas-container {
  position: relative;
  overflow: hidden;
  height: 100%;

  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#canvas-container.dimmed {
  opacity: 0.3;
}

#bg-canvas, #sloth-board {
  position: absolute;
  top: 0;
  left: 0;
}
#sloth-board {
  cursor: url("img/forsloths.png") 0 0, auto;
}
#sloth-board.erase {
  cursor: url("img/eraser.png") 0 0, auto;
  opacity: 0.5;
}
#image {
  text-align: center;
}
#image img {
  max-width: 100%;
  max-height: 100%;
}
#files {
  opacity: 0.00001;
  cursor: pointer;
}
.help-layover {
  display: none;
  position: absolute;
  left: 69px;
  top: -740px;
  -webkit-transition: top 500ms ease-in-out 100ms;
  -moz-transition: top 500ms ease-in-out 100ms;
  -ms-transition: top 500ms ease-in-out 100ms;
  -o-transition: top 500ms ease-in-out 100ms;
  transition: top 500ms ease-in-out 100ms;
}
.help-layover.visible {
  top: 0;
  -webkit-transition: top 500ms;
  -moz-transition: top 500ms;
  -ms-transition: top 500ms;
  -o-transition: top 500ms;
  transition: top 500ms;
}
.upload-container {
  position: relative;
}
.upload-container .fake-button {
  position: absolute;
  top: 0;
  left: 0;
}
.uploading {
  position: fixed;
  width: 590px;
  display: none;
  background: rgba(34, 177, 76, 0.8);
  border-radius: 20px;
  padding: 15px;
}
.spinning-head {
  -webkit-animation: rotate 0.9s infinite linear;
  -moz-animation: rotate 0.9s infinite linear;
  -ms-animation: rotate 0.9s infinite linear;
  -o-animation: rotate 0.9s infinite linear;
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes rotate {
  from { -moz-transform: rotate(0deg) }
  to { -moz-transform: rotate(360deg) }
}
/* lol */
@-ms-keyframes rotate {
  from { -ms-transform: rotate(0deg) }
  to { -ms-transform: rotate(360deg) }
}
@-o-keyframes rotate {
  from { -o-transform: rotate(0deg) }
  to { -o-transform: rotate(360deg) }
}


/* FETCH */
.fetch-container {
  text-align: center;
  overflow: hidden;
}
.fetch-container img {
  max-width: 100%;
  max-height: 100%;
}
.promo {
  float: left;
  padding-top: 20px;
  width: 80px;
  background: #eee;
  color: white;
  height: 100%;
}

.about-page {
  overflow: auto;
}
.about {
  max-width: 500px;
  color: #222;
  padding-left: 24px;
  text-align: left;
  line-height: 1.5;
}
.about h1 {
  margin-top: 10px;
}
.about-link {
  color: #999;
  position: absolute;
  bottom: 4px;
  left: 20px;
  font-size: 10px;
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -ms-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}
.about-link:hover {
  color: yellow;
}
#facebook-iframe {
  margin-left: 11px;
  height: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: height 500ms ease-in-out 500ms;
  -moz-transition: height 500ms ease-in-out 500ms;
  -ms-transition: height 500ms ease-in-out 500ms;
  -o-transition: height 500ms ease-in-out 500ms;
  transition: height 500ms ease-in-out 500ms;
}

#facebook-iframe iframe {
  position: absolute;
  bottom: 0;
}
#facebook-iframe.visible {
  height: 90px;
}

/* TIPSY */

.tipsy { padding: 5px; font-size: 12px; opacity: 0.8; background-repeat: no-repeat;  background-image: url('img/tipsy.gif'); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west {
  background-position: left center;
  margin-left: 21px; /* this is a hack yo */
}
